<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_Dq4LkVyNa3FUhtm7aCF5Vy_g8cylJ0k</string>
	<key>GCM_SENDER_ID</key>
	<string>134107546933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.appPermisionTest</string>
	<key>PROJECT_ID</key>
	<string>app-1-b5fa7</string>
	<key>STORAGE_BUCKET</key>
	<string>app-1-b5fa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134107546933:ios:02aaf4db86bbc3a403b87c</string>
</dict>
</plist>